<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nfcorienteering"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.uta.nfcorienteering.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.uta.nfcorienteering.activity.ReadTrackTagActivity"
            android:label="@string/title_activity_read_track_tag"
            android:parentActivityName="org.uta.nfcorienteering.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nfcorienteering.MainActivity" />
        </activity>
        <activity            android:name="org.uta.nfcorienteering.activity.TrackInfoActivity"
            android:label="@string/title_activity_track_info"
            android:parentActivityName="aorg.uta.nfcorienteering.activity.ReadTrackTagActivityadTrackTagActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nfcorienteering.ReadTrackTag" />
        </activity>
        <activity
            android:name="org.uta.nfcorienteering.activity.ActiveOrienteeringEventActivity"
            android:label="@string/title_activity_active_orienteering_event" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nfcorienteering.TrackInfo" />
        </activity>
        <activity
            android:name="org.uta.nfcorienteering.activity.TrackResultsActivity"
            android:label="@string/title_activity_track_results" >
        </activity>
        <activity
            android:name="org.uta.nfcorienteering.activity.UploadResultsActivity"
            android:label="@string/title_activity_upload_results"
            android:parentActivityName="org.uta.nfcorienteering.activity.TrackResultsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nfcorienteering.TrackResults" />
        </activity>
    </application>

</manifest>